<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disappearing Ninjas and April</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'disappear_maker/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
</head>

<body>
    <div id="wrapper">
        <img id="logo" src="{% static 'disappear_maker/images/logo.png' %}" alt="Teenage Mutant Ninja Turtles Logo">    
        <h1>there are no ninja turtles here.  Sorry</h1>
    </div>
</body>

</html>